/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

#about {
    background-color: #f0cbcb;
    padding: 2em;
    text-align: center;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#education {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #453c3c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #education h2 {
    margin-top: 0;
    font-weight: bold;
    color: #312a2a;
  }
  
  #education ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #education li {
    margin-bottom: 20px;
  }
  
  #education h3 {
    font-weight: bold;
    color: #666;
    margin-top: 0;
  }
  
  #education p {
    color: #999;
    margin-bottom: 10px;
  }
  
  #education ul ul {
    margin-left: 20px;
  }

#contact {
    background-color: #f1eded;
    padding: 2em;
    text-align: center;
}
#Footer {
    background-color: rgb(206, 243, 184);
    padding: 2px;
    text-align: center;
}



